<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="follow,index">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <title>Keep My HBO</title>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    <!-- <script type="text/javascript" src="//wurfl.io/wurfl.js"></script> -->
  </head>
  <body>
    <div class='main'>
      <a id='order_link' href='order/index.html?cmpid=keep_my_hbo3'>
        <div class='inner'>
          <img class='desktop' src="desktop.jpg" alt=""/>
          <img class='mobile' src="mobile.jpg" alt=""/>
        </div>
      </a>
    </div>
    <script type="text/javascript" src="http://www.hbo.com/html/js/s_code_onsite_testing.js"></script>
    <script type="text/javascript" src="http://www.hbo.com/html/js/offsite-tracklinks.js"></script>
    <script src="order/scripts/plugins.js"></script>
  </body>
</html>
